body {
  margin: 0;
  padding: 0;
  background-color: #b38b6d;
  font-family: Arial Black, Arial Black, Gadget, sans-serif;
  color: #3B3A38;
  overflow-x :hidden;
}

#arrow-picture{
  width:20%;
  float: right;
}

#picture-wrapper{
  position: relative;
  right: -44%;
  bottom: -200px;
  height: 10%;
  width: 10%;
}

#profile-pic {
  position: relative;
  right: 10px;
  bottom: 10px;
  width: 192px;
  height: auto;
  border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%
}

h1 {
  font-size: 20px;
}

#introduction-text {
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  border: 3px solid black;
  min-height: 120px;
  min-width: 80%;
  background-color: #d8a886;
}

#content-wrapper{
  width: 100%;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.likes{
  padding: 0 10px 10px 10px;
  display: inline-block;
  font-weight: bold;
}

.inline{
  display: inline;
}

#first{
  position: relative;
  top: 0px;
  left: 74%;
}

#second{
  position: relative;
  top: -300px;
  left: 0px;
}

#third{
  position: relative;
  top: -0px;
  left: -74%;
}

#fourth{
  opacity: 0.00;
}

.dn {
  display: none;
}

a {
  text-decoration: underline;
}

.wider-text-bubble::before {
  content:"";
  position:absolute;
  bottom:-30px;
  right:387px;
  border-width:0 0 30px 50px;
  border-style:solid;
  border-color:transparent #7a937c;
  display:block;
  width:0;
}

.wider-text-bubble {
  display: inline-block;
  position:relative;
  bottom: 285px;
  right: -105px;
  padding:15px 30px;
  margin:0;
  width: 400px;
  background:linear-gradient(#5b6d5c, #7a937c);
  -webkit-border-radius:25px 50px;
  -moz-border-radius:25px / 50px;
  border-radius:25px / 50px;
}

.wider-text-bubble-left::before {
  content:"";
  position:absolute;
  bottom:-30px;
  right:27px;
  border-width:0px 50px 30px 0px;
  border-style:solid;
  border-color:transparent #7a937c;
  display:block;
  width:0;
}

.wider-text-bubble-left {
  display: inline-block;
  position:relative;
  bottom: 313px;
  right: 375px;
  padding:15px 30px;
  margin:0;
  width: 400px;
  background:linear-gradient(#5b6d5c, #7a937c);
  -webkit-border-radius:25px 50px;
  -moz-border-radius:25px / 50px;
  border-radius:25px / 50px;
}

.normal-text-bubble::before {
  content:"";
  position:absolute;
  bottom:-30px;
  right:287px;
  border-width:0 0 30px 50px;
  border-style:solid;
  border-color:transparent #7a937c;
  display:block;
  width:0;
}

.normal-text-bubble {
  display: inline-block;
  position:relative;
  bottom: 313px;
  right: -80px;
  padding:15px 30px;
  margin:0;
  width: 300px;
  background:linear-gradient(#5b6d5c, #7a937c);
  -webkit-border-radius:25px 50px;
  -moz-border-radius:25px / 50px;
  border-radius:25px / 50px;
}

.smaller-text-bubble::before {
  content:"";
  position:absolute;
  bottom:-30px;
  right:87px;
  border-width:0 0 30px 50px;
  border-style:solid;
  border-color:transparent #7a937c;
  display:block;
  width:0;
}

.smaller-text-bubble {
  display: inline-block;
  position:relative;
  bottom: 275px;
  right: -90px;
  padding:15px 30px;
  margin:0;
  width: 100px;
  background:linear-gradient(#5b6d5c, #7a937c);
  -webkit-border-radius:25px 50px;
  -moz-border-radius:25px / 50px;
  border-radius:25px / 50px;
}

/*
Prevents arrow from being selected when clicking the body element to quickly
*/

#arrow-picture, #content-wrapper, #profile-picture {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}

arrow-container p{
    float:left;
}

#arrow-container{
  position: relative;
  bottom: 380px;
  right: 230px;
  width: 325px;
}

/* 
Resizing bubble for diferent viewports
*/

@media (max-width: 1000px){
  .normal-text-bubble {
    width: 200px;
  }

  .normal-text-bubble::before{
    right: 185px;
  }

  .wider-text-bubble-left{
    width: 300px;
    right: 285px;
  }

  .wider-text-bubble{
    width: 200px;
    bottom: 320px;
    right: -105px;
  }

  .smaller-text-bubble{
    right: -105px;
  }

  .wider-text-bubble::before{
    right: 185px;
  }
}

@media (max-width: 750px){
  
  .normal-text-bubble {
    width: 100px;
    bottom: 395px;
    right: -90px;
  }

  .normal-text-bubble::before {
    right:85px;
  }

  #arrow-container {
    bottom: 469px;
  }

  .wider-text-bubble-left{
    width: 260px;
    right: 230px;
    bottom: 340px;
  }

  .wider-text-bubble{
    width: 100px;
    bottom: 400px;
  }

  .wider-text-bubble::before{
    right: 85px;
  }
}